@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efeeee;
}

.submit-button{
    width: 100%;
    height: 65px;
    border: 0px solid transparent;
    border-radius: 15px;
    font-size: 18px;
    background-color: black;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container{
    
    height: 95%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}


.card{
    background-color: white;
    color:#1b1e22;
    width: 40%;
    height: 35%;
    border: 1px solid transparent;
    border-radius: 25px; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

/* Inicio Tarjeta 1 */
.card1{
    flex-basis: 45%;    
}

.card1 img{
    width: 19%;
    padding-right: 15px;
}

.card1 .img-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card1 .encabezado .img-name div{
    display: flex;
    flex-direction: column;
}
.card1 .encabezado .img-name div h4{
    font-weight: bold;
}


.card1 .encabezado .img-name div p{
    padding-top: 5px;
    font-size: 12px;
    opacity: 0.55;
}

.card1 .encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card1 .encabezado button{
    height: 43px;
    width: 43px;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f6f7f8;
}

.card1 .titulo-descripcion h3{
    font-weight: bold;
    font-size: 20px;
}

.card1 .titulo-descripcion p{
    font-size: 15px;
    opacity: 55%;
    padding-top: 10px;
}

.card1 .lista-enfoque{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card1 .lista-enfoque p{
    text-align: center;
    font-size: 15px;
    background-color: #dce5fc;
    border: 0px solid transparent;
    border-radius: 6px;
    margin-right: 7px;
    padding: 4px 5px;
    margin-top: -10px;
}

.card1 hr{
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.card1 .precio h1{
    font-size: 32px;
    padding-bottom: 5px;
}

.card1 .precio p{
    font-size: 13px;
    opacity: 55%;

}

.card1 .submit-button{
    background-image: linear-gradient(to right, #3b91f7, #3d79f7);
    color: white;
}

/* Fin Tarjeta 1 */
/* Inicio Tarjeta 2 */
.card2{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: space-around;
    flex-basis: 35%;
    background: linear-gradient(white 20%, rgba(221,181,229,0.6) 90%);
}

.card2 img{
    max-width: 30%;
}

.card2 p{
    opacity: 0.6;
}

.card2 button{
    background-image: linear-gradient(to right, #191818, #0c0c0a);
    color: white;
}

/* Fin Tarjeta 2 */
.card3{
    flex-basis: 60%; 
    background: linear-gradient( #3a3a3a, #171717);
    color: #f0f0f0;
}

.card3 .encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card3 .encabezado a{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 15px;
    background-image: linear-gradient(to top right, #444545, #464647);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
}
.card3 .encabezado svg{
   margin-left: 7px;
}

.card3 .encabezado h3{
    font-weight: normal;
    font-size: 24px;
}

.card3 .ganancias{
    display: flex;
    flex-direction: column;
}

.card3 .ganancias h4{
    font-weight: normal;
}

.card3 .ganancias h1{
    font-size: 50px;
}

.card3 .ganancias h1 span{
    opacity: 0.3;
}
.card3 .ganancias p{
    font-size: 15px;
    opacity: 0.81;
}

.card3 .ganancias p span{
    font-size: 15px;
    opacity: 1;
    color: #1fdd3d;
}

.card3 .lista-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 190px;
}

.card3 .lista-info .bloque{
    background-color: #403f3f;
    flex-grow: 0.44;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 10px;
}

.card3 .lista-info .bloque h3 {
    font-size: 30px;
    color: rgba(240, 240, 240, 1);
    padding-bottom: 5px;
}

.card3 .lista-info .bloque h3 span {
    font-size: 18px;
    font-weight: normal;
    color: rgba(240, 240, 240, 0.5);
}

.card3 .lista-info .bloque p{
    font-size: 12px;
    color: rgba(240, 240, 240, 0.5);
}
.card3 .lista-info .bloque p span{
    color: rgba(240, 240, 240, 1);
}

.card3 .lista-info .bloque3{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(240, 240, 240, 1);
    padding: 20px;
}

.card3 .lista-info .bloque3 div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card3 .lista-info .bloque3 h3{
    font-size: 35px;
    padding: 8px 0;
    font-weight: normal;
    color: black;
    padding: 0;
    
}
.card3 .lista-info .bloque3 p{
    color: black;
    opacity: 0.5;
    
}

.card3 .availability{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.card3 .availability h3{
    font-weight: normal;
    font-size: 16px;
    opacity: 0.97;
}

.card3 .availability p{
    font-size: 13px;
    opacity: 0.5;
}

.card3 .availability img{
    width: 100%;
}

.ramas{
    width: 40%;
}

.card4{
    flex-basis: 25%;
}

.card4 img{
    width: 100%;
}